# Build output directories
build/
components/**/build/
components/**/build_*_*/
examples/**/build/
examples/**/build_*_*/
tools/unit-test-app/build
tools/unit-test-app/build_*_*/
tools/test_apps/**/build/
tools/test_apps/**/build_*_*/

# Compiled object files, libraries, and binaries
*.o
*.a
*.so
*.obj
*.bin
*.elf
*.map

# CMake files
CMakeCache.txt
CMakeFiles/

# ESP-IDF specific files
sdkconfig
sdkconfig.old
partition_table/
components/micro_ros_espidf_component

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Git tags
GTAGS
GRTAGS
GPATH

# Emacs temp files
.dir-locals.el
*~
.#*
\#*#

# Eclipse settings
.settings/

# MacOS system files
.DS_Store

# Cache directories
.cache/

# Documentation build artifacts
docs/_build/
docs/doxygen_sqlite3.db
docs/_static/DejaVuSans.ttf
docs/_static/NotoSansSC-Regular.otf

# Test logs and summary files
TEST_LOGS/
build_summary_*.xml
list_job*.txt
size_info*.txt
XUNIT_RESULT*.xml

# gcov coverage reports
*.gcda
*.gcno
coverage.info
coverage_report/

# Test multi-heap host
test_multi_heap_host

# VS Code settings
.vscode/

# VIM swap files
*.swp
*.swo

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# CLion IDE CMake build & config
.idea/
cmake-build-*/

# Python linting and static analysis
.mypy_cache
flake8_output.txt

# Dependencies and managed components
dependencies.lock
managed_components/

# pytest logs
pytest-embedded/
pytest_embedded_log/

# clang config (for LSP)
.clangd

# Vale configuration
.vale/styles/
